*
{
    box-sizing: border-box;
    margin: 0;
}
body
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/home/rawane/Bureau/Sonatel Academy/Code/Javascript/ecran.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.first_container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_container
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    align-items: center;
}
.second_container a 
{
    width: 10%;
    text-decoration: none;
    color: white;
    background-color: rgb(21, 44, 105);
    display: block;
    padding: 1%;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.second_container a:hover
{
    opacity: 0.6;
    background-color: rgb(21, 44, 105);
}
.parent
{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(212, 209, 209, 0.87);
}
.second_parent
{
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: white;
}
.content
{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content h2
{
    text-align: center;
}
ul
{
    list-style-type: none;
    padding: 0;
}
ul li
{
    padding: 0.5rem;
    cursor: pointer;
}
button
{
    background-color: blueviolet;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}
button:hover
{
    background-color: rgb(78, 21, 131);
}