*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url("/home/rawane/Bureau/Sonatel Academy/Code/Javascript/ecran.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_container
{
    width: 100%;
    height: 100%;
}
.second_container
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    align-items: center;
}
.second_container a 
{
    text-decoration: none;
    color: white;
    background-color: rgb(21, 44, 105);
    text-align: center;
    display: block;
    padding: 1%;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}
.second_container a:hover
{
    opacity: 0.6;
}
/************************************************Barre de Navigation**************************************/
.add_div
{
    width: 99%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box_div
{
    height: 90%;
    width: 98%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.add
{
    background-color: rgb(21, 44, 105);
    height: 70%;
    width: 11%;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.add:hover
{
    opacity: 0.6;
}
/****************************************** Page Principale **********************************************/
.parent
{
    min-width: 20%;
    margin: 0 2%;
}
.parent_boutons
{
    background-color: rgb(21, 44, 105);
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
}
textarea
{
    max-width: 200px;
    min-width: 100%;
    max-height: 40vh;
    min-height: 40vh;
    outline: none;
}
button
{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover
{
    color: rgba(255, 255, 255, 0.651);
}
.btn_edit
{
    margin-top:4px;
    margin-right: 4px;;
}