*
{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    background-image: url("/home/rawane/Bureau/Sonatel Academy/Code/Javascript/ecran.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_container
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    align-items: center;
}
.second_container a 
{
    width: 10%;
    text-decoration: none;
    color: white;
    background-color: rgb(21, 44, 105);
    display: block;
    padding: 1%;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.second_container a:hover
{
    opacity: 0.6;
    background-color: rgb(21, 44, 105);
}
.purple
{
    width: 40%;
    height: 75%;
    background-color: rgb(49, 0, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark_purple
{
    width: 94%;
    height: 94%;
    background-color: rgb(31, 1, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form
{
    width: 94%;
    height: 92%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.third_part
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.first_part
{
    background-color: rgb(49, 0, 95);
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_part
{
    height: 20%;
    position: relative;
}
.first_part .copy
{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    background-color:rgb(49, 0, 95) ;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.first_part .copy:hover
{
    background-color:white ;
    color: black;
}
.second_part
{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second_part input
{
    outline: none;
}
.third_part
{
    height: 20%;
    background-color: rgb(255, 196, 0);
    color: rgb(49, 0, 95);
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.third_part:hover
{
    background-color: rgb(167, 129, 4);
}   
.input1
{
    width: 10%;
}
.setting
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
span
{
    word-break: break-all;
}